<h4> Current date: <%= @time %> </h4>
<% if user_signed_in? %>
  <h4>Hello, <%= current_user.email %></h4>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log In", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<br>
<% if user_signed_in?%>
  <%= link_to "Create New Event", new_event_path %>
<% end %>
<h1>All Events </h1>
<% @events.each do |event| %>
  <div class="col-md-4">
    <h2>Event: <%= link_to event.name, event_path(event.id) %></h6>
    <h3>Creator: <%= link_to event.creator.email, profile_path(event.creator) %></h3>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %> </p>
    <p>Details: <%= event.details %></p>
    <br>
  </div>
<% end %>