<%= form_with model: @event do |f| %>
  <div class="div">
    <%= f.label :name, "Event name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :location, "Event location" %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :date, "Event date" %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :time, "Event time" %>
    <%= f.time_field, :time %>
  </div>
  <div>
    <%= f.label :details, "Details about your event" %>
    <%= f.text_area :details %>
  </div>

  <%# f. %>
  <%= f.submit %>
<% end %>
