<h1>Event: <%= @event.name %></h1>
<p>
  ID: <%= @event.id %>
</p>
<p>
  Location: <%= @event.location %>
</p>
<p>
  Creator: <%= link_to @event.creator.email, profile_path(@creator.id) %>  
</p>
<p>
  Details: <%= @event.details %>
</p>
<br>

<h2>Want to join this event?</h1>
<%= button_to "Join Event", event_join_path(@event), method: :post %>
