<h1>Event: <%= @event.name %></h1>
<p>
  ID: <%= @event.id %>
</p>
<p>
  Location: <%= @event.location %>
</p>
<p>
  Creator: <%= link_to @event.creator.email, profile_path(@creator.id) %>  
</p>
<p>
  Details: <%= @event.details %>
</p>
<br>

<h2>Want to join this event?</h1>
<% if @event.attendees.include?(current_user) %>
  <p>You are in this event!</p>
  <p>Want to leave this event?</p>
  <%= button_to "Leave Event", event_leave_path(@event), method: :delete %>
<% else %>
  <%= button_to "Join Event", event_join_path(@event), method: :post %>
<% end %>
<br>
<h2>List of Attendees:</h2>
<% @event.attendees.each do |attendee| %>
  <p><%= link_to attendee.email, profile_path(attendee.id) %><p>
<% end %>